* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-shadow {
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  box-shadow: 4px 3px 3px black;
}

.input-shadow {
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
}

.font-weight {
  font-weight: 600;
}
